@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x:clip;
}

::-webkit-scrollbar-track {
  background-color: #212121;
  
  padding: 12px;
}

::-webkit-scrollbar {
  /* width: 20px; */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 12px;
  border: 5px solid transparent;
  background-clip: content-box;
}

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,textarea,button,select,a{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

a{
  color: aliceblue;
  text-decoration: none;
}

body{
  background-color: #181818;
  /* padding:0px 80px; */
  color: aliceblue;
  font-family: "Inter", serif;
  /* height: 3000px; */
}